.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(135deg, #1e293b, #0f172a);
  border-radius: 10px;
  min-height: 100vh;
  padding-top: 10rem;
}

.hero-animation {
  width: 5rem;
}

.hero-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.hero-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: center;
  color: rgb(137, 137, 98);
  margin-top: 1rem;
  font-size: large;
  margin-bottom: 1.5rem;
}

.hero-greeting {
  font-size: 2rem;
  font-weight: bold;
  color: #e39595;
  display: flex;
  justify-content: start;
  align-items: center;
}

.hero-intro {
  font-size: 1rem;
  margin-top: 1rem;
  color: #f1a0a0;
}

.hero-socials {
  margin-top: 2rem;
}

.hero-text-container .social-icons {
  display: flex;
  gap: 1rem;
}

.social-icon-link {
  color: #ffffff;
  font-size: 1.5rem;
  transition: transform 0.1s;
}

.social-icon-link:hover {
  transform: scale(1.2);
}

.social-icon-link:active {
  transform: scale(0.95);
}

.social-icon {
  color: #e9afaf;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    padding-top: 10rem;
  }

  .hero-image-container {
    margin-bottom: 2rem;
  }

  .hero-image {
    width: 200px;
    height: 200px;
  }

  .hero-text-container {
    align-items: center;
    max-width: 15rem;
  }

  .hero-greeting {
    font-size: 1.8rem;
  }

  .hero-intro {
    font-size: 1.2rem;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }

  .social-icon-link {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .hero-greeting {
    font-size: 1.5rem;
  }

  .hero-intro {
    font-size: 1rem;
  }

  .social-icon-link {
    font-size: 1rem;
  }
}
